@import url('https://fonts.googleapis.com/css2?family=Allura&family=Carter+One&family=Dancing+Script:wght@400;500;600&family=Instrument+Sans:wght@400;500&family=Josefin+Sans:wght@100;300;400;500;600;700&family=Josefin+Slab:wght@200;300;400;500;600;700&family=Jost:wght@100;200;400;500&family=Oleo+Script+Swash+Caps:wght@700&family=Oswald:wght@200;300;400;500;600&family=Playfair+Display:ital,wght@0,500;0,700;0,800;1,400&family=Poppins:wght@100;200;400;500;700&family=Roboto:wght@100;300;400;500;700&family=Yeseva+One&display=swap');
:root{
    --primary-color:  #51046A;
    --secondary-color: #303030;
    --text-color: #fff;
    --btn-color:  #4F01F5;
}

html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    min-height: 100vh;
    color: white;
    text-decoration: none;
}

body::before{
    content: '';
    display: block;
    padding-top: 100px;
}

h1{
    font-size: 65px;
    font-weight: 400;
}

h2{
    font-size: 54px;
    font-weight: 500;
}

h3{
    font-size: 30px;
    font-weight: 300;
}

p{
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;;
    font-weight: 300;
}

a{
    text-decoration: none;
    font-weight: 300;
}

.container{
    max-width: 960px;
    margin: 0 auto;
    text-align: center;
}

.grid{
    display: grid;
}

.grid-2{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3{
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
}

.grid-4{
    grid-template-columns: repeat(4, 1fr);
}

.col{
    width: 100%;
}

#header{
    background: rgba(17, 61, 109, 0.997);
    position: fixed;
    z-index: 999;
    top: 0;
    width:100% ;
    box-shadow: 0px -2px 10px 0px rgba(0,0,0,0.6);
}

#header .search-form{
    position: fixed;
    background: rgba(136, 9, 136, 0.238);
    z-index: 9999;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: -999%;
    opacity: 0;
    pointer-events: none;
}

#header .search .search-form.search-open{ 
    top: 0px;
    opacity: 1;
    pointer-events: all;
}

.search-form .search-input{
    width: 40%;
}

.search-form .search-input input{
    padding: 10px 20px 10px 40px;
    border: none;
    color: var(--btn-color);
    border-radius: 5px;
    font-size: 19px;
    width: 100%;
    position: relative;
}

.search-form .search-input input:focus{
    outline: none;
}

.close-btn{
    position: absolute;
    font-size: 35px;
    right: 23px;
    top: 17px;
    color: white;
    cursor: pointer;
}

.nav-close-btn{
    display: none;
}

.fa-bars-staggered{
    display: none;
}

#header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

#header .container .logo a img{
    width: 9rem;
    display: flex;
    padding: 6px;
}

#header .container nav .navlinks {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-decoration: none;
}

#header .container nav .navlinks li a{
    color: white;
    font-size: 1.50rem;
    font-weight: 400;
}

li{
    display: block;
}

#header .container nav .navlinks li a:hover{
    color: #ac13df;
    transition: all 1s ease-in;
}

.search-btn{
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

#hero{
    padding: 50px 0px 100px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)) ,url(./images/image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    display: flex;
    align-items: flex-end;
}

#hero .container {
    text-align: left;
}

#hero .container .col{
    width: 50%;
}

.cta-btn{
    display: inline-block;
    padding: 5px 40px 10px;
    background-color: var(--primary-color);
    color: white;
    margin-top: 25px;
    font-size: 19px;
    border-radius: 1rem;
    text-align: center;
}


.cta-btn:hover{
    background: #4801FF;
    color: var(--text-color);
}

img{
    width: 100%;
}

section{
    padding: 100px 0px;
}

#promo{
    padding: 100px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)) ,url(./images/room.png.jpg);
    mask-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#promo .container{
    text-align: center;
}

#promo .container .grid{
    margin-top: 50px;
}

.promo-card{
    width: 100%;
    background: white;
}

.promo-card .card-content{
    background: white;
    padding: 10px 20px 20px;
}

.promo-card .card-content h3{
    font-size: 22px;
    color: #51046A;
    font-weight: 400;
}

.promo-card p{
    font-size: 1.20rem;
    margin-bottom: 25px;
    color: #51046A;
    font-weight: 400;
}

#price{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)) ,url(./images/girl-PhotoRoom.png);
    mask-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#price .container .grid{
    margin-top: 50px;
}

.price-card{
    border-radius: 8px;
    background: #011A4E;
    box-shadow: 0px 0px 10px 1px rgb(3, 88, 83);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px 20px;
    gap: 15px;
}

.price-card:hover{
    box-shadow: 0px 0px 20px 0.23px  #043bb3;
}

.price-card i{
    font-size: 70px;
}

.price-tag h3{
    font-size: 25px;
    font-weight: 400;
}

.price-tag p{
    font-size: 1rem;
    margin-bottom: 25px;
}

.price-card .price-tag {
    background: var(--text-color);
    display: block;
    padding: 8px 2px;
    width: 100%;
    border-radius: 3px;
    color:  #011A4E;
    transition: all 0.2s;
    font-size: 1.20rem;
    font-weight: 400;
}

.price-tag:hover{
    background:  #1a56d7;
    color: var(--text-color);
}
/*showcase*/

.showcase{
    padding: 0px;
}

.showcase .grid .col {
    width: 100%;
}

.showcase .grid .col .content{
    max-width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.read-btn{
    background:  white;
    color: #51046A;
    font-weight: 400;
}

.read-btn:hover{
    background: var(--primary-color);
    transition: all 0.3s

}

#showcase-1 .grid .col:nth-child(1){
    background: url(./images/joy5.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#showcase-1 .grid .col:nth-child(2){
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.2)) ,url(./images/room.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#showcase-2 .grid .col:nth-child(1){
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url(./images/room.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#showcase-2 .grid .col:nth-child(2){
    background: url(./images/joy4.png.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/*statistics*/

.statistics{
    background: var(--btn-color);
}

.statistics h2{
    margin-bottom: 20px;
}

.statistics .container .grid{
    margin-top: 120px;
}

.statistics .container .grid h3{
    font-size: 53px;
    font-weight: 500;
}

/*quote*/

#quote{
    padding: 140px 20px;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) ,url(./images/room.png.jpg);
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#quote .container p{
    font-size: 38px;
    font-weight: 400;
}

#quote .container h3{
    font-size: 50px;
    font-weight: 500;
    margin-top: 30px;
}

/*newsletter*/

#newsletter{
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.8)) ,url(./images/girl-PhotoRoom.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#newsletter .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#newsletter .container h2{
    font-weight: 900;
}

.subscribe-form{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    width: 100%;
    margin-top: 20px;
}

.subscribe-form input{
    padding: 10px 20px;
    background-color: white;
    border: none;
    color: #011a4e;
    font-size: 21px;
     font-family: 'Josefin Sans', sans-serif;
     font-weight: 400;
     width: 60%;
}

.subscribe-form:focus{
    outline: none;
}

.subscribe-form button{
    background: #011A4E;
    color: var(--text-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    padding: 11.15px 52px;
    cursor: pointer;
    border: none;
}

/*footer*/

#footer{
    background: var(--primary-color);
    padding: 50px;
}

#footer .container{
    text-align: left;
}

#footer .container .grid{
    gap: 20px;
}

#footer-grid {
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

.col-padding-right{
    padding-right: 100px;
}

#footer p{
    font-size: 22px;
    margin: 20px 0px 30px;
}

#footer li{
    list-style: none;
    font-family: 'Josefin Sans', sans-serif;
    margin: 15px 0px;
    font-size: 20px;
}

#footer li a{
    color: var(--text-color);
}

.social-icons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.social-icons i{
    font: size 20px;
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    color: var(--primary-color);
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.social-icons i:hover{
    background: var(--btn-color);
    color: white;
}